#!/bin/bash

{% if name %}
#SBATCH --job-name="{{ name }}"
{% endif %}
{% if directory %}
#SBATCH --chdir="{{ directory }}"
{% endif %}

{% if queue_name %}
#SBATCH --partition="{{ queue_name }}"
{% endif %}
{% if exclusive_node_use %}
#SBATCH --exclusive
{% endif %}
{% if node_count %}
#SBATCH --nodes={{ node_count }}
{% endif %}
{% if process_count %}
#SBATCH --ntasks={{ process_count }}
{% endif %}
{% if process_per_node %}
#SBATCH --ntasks-per-node={{ process_per_node }}
{% endif %}
{% if cpu_cores_per_process %}
#SBATCH --cpus-per-task={{ cpu_cores_per_process }}
{% endif %}
{% if memory %}
#SBATCH --mem={{ memory }}
{% endif %}
{% if formatted_duration %}
#SBATCH --time={{ formatted_duration }}
{% endif %}
{% if billing_account %}
#SBATCH --account="{{ billing_account }}"
{% endif %}
{% if reservation_id %}
#SBATCH --reservation="{{ reservation_id }}"
{% endif %}
{% if custom_key_value %}
{% for key, value in custom_key_value.items() %}
#SBATCH {{ key }}="{{ value }}"
{% endfor %}
{% endif %}
{% if custom_value %}
{% for value in custom_value %}
#SBATCH {{ value }}
{% endfor %}
{% endif %}
#SBATCH -e /dev/null
#SBATCH -o /dev/null

export vPSIJUTIL_DIR=${HOME}/vPSIJ_util
export gRPC_DIR=$vPSIJUTIL_DIR/grpc
export PYTHONPATH=${PYTHONPATH}:${gRPC_DIR}
export GRPC_SERVER={{ grpc_server }}
export SECURE_CHANNEL={{ secure_channel }}

{% if environments %}
{% for key, value in environments.items() %}
export {{ key }}={{ value }}
{% endfor %}
{% endif %}

$vPSIJUTIL_DIR/vpsij-updater $GRPC_SERVER $SECURE_CHANNEL 4

{% if pre_execution  %}
{% for exe in pre_execution %}
{{ exe }}
{% endfor %}
{% endif %}

{{ executable }} {% if arguments %} {{ arguments }} {% endif %}

{% if post_execution  %}
{% for exe in post_execution %}
{{ exe }}
{% endfor %}
{% endif %}

$vPSIJUTIL_DIR/vpsij-updater $GRPC_SERVER $SECURE_CHANNEL 5

$vPSIJUTIL_DIR/vpsij-updater $GRPC_SERVER $SECURE_CHANNEL 6